<div id="<%= dom_id actor %>">
  <p>
    <strong>Nome:</strong>
    <%= actor.name %>
  </p>
  <ul>
    <li>
      <p>
        <strong>Ano de Nascimento:</strong>
        <%= actor.birth_date %>
      </p> 
    </li>
    <li>
      <p>
        <strong>Email:</strong>
        <%= actor.email %>
      </p>
    </li>
  </ul>
  <% if actor.movies.present? %>
    <h3> Participação nos filmes:</h3>
    <ul>
      <% actor.movies.each do |movie| %>
        <li> <strong> <%= movie.title %> </strong> </li>
      <% end %>
    </ul>
  <% end %>
</div>
