<p style="color: green"><%= notice %></p>

<%= render @actor %>

<div>
  <%= link_to "Editar ator", edit_actor_path(@actor) %> |
  <%= link_to "Voltar para lista de atores", actors_path %>

  <%= button_to "Deletar ator", @actor, method: :delete %>
</div>
