<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Back to comments", comments_path %>
  <%= form_with(model: @comment) do |form| %>
   <%=  form.hidden_field :status, value: true %>   
    <%= form.submit "Aprovar Comentário"%>
  <% end %>
</div>
