<p style="color: green"><%= notice %></p>

<h2> Detalhes do Filme </h3>
<%= render @movie %>

<h3> Comentários do Filme: </h3>
<% @movie.comments.approved_comments.each_with_index do |comment, index| %>
  <h4> Comentário n°<%= index %>: </h4>
  <p> <%= comment.text %> </p>
<% end %>

<div>
  <p> <%= link_to "Editar este filme", edit_movie_path(@movie) %> </p>
  <p> <%= link_to "Voltar para a seção de filmes", movies_path %> </p>
  <p> <%= button_to "Apagar este filme", @movie, method: :delete %> </p>
</div>
