<!DOCTYPE html>
<html>
  <head>
    <title>Catálogo de Filmes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
<style>
body{
  margin: 0 auto;
  background-color:#F5EEF8;
}
.content{
  padding: 1rem;
  color: #273746;
}
h1,h2,h3,h4,h5{
  
}
</style>
